* {
	box-sizing: border-box;
}

body {
	background-color: #d7d7d7;
}

button {
	width: 250px;
	height: 50px;
	color: #fff;
	font-size: 19px;
	background-color: #ec744a;
}

.product {
	background-color: #fff;
	margin: 86px 95px 86px 95px;
	border: 1px solid #d7d7d7;
}

.product-image {
	display: inline-block;
	padding: 64px 48px 64px 48px;
}

.product-text {
	display: inline-block;
	width: 393px;
	vertical-align: 40px;
	font-family: sans-serif;
}

.price {
	margin-top: 45px;
}

.sum {
	font-size: 28px;
}