body {
	background-color: #FFEBCD;
	padding: 100px;
	padding-right: 250px;
}

h2 {
	text-align: center;
	color: #696969;
}

a {
	text-decoration: none;
}

div{
	position: relative;
}

.chapter_1 {
	color: tomato;
}

.chapter_2 {
	font-weight: 900;
	color: #B8860B;
}

.chapter_3 {
	font-style: italic;
	color: #228B22;
}

.chapter_4 {
	text-decoration: underline;
	color: #00BFFF;
}

.chapter_5 {
	text-decoration: line-through;
	color: #8A2BE2;
}

ul li:nth-child(even) {
	list-style: circle;
	list-style-position: inside;
}

img {
	height: 400px;
}

.contents {
	position: fixed;
	left: 82%;
	background-color: #ececec;
}
